@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos esse corporis enim autem molestiae, debitis sequi quidem distinctio similique nam tenetur libero, atque repellat magni aut vel! Asperiores, dignissimos ut?
</div>